.Press-content{
    width: 100%;
    max-width: 400px;
}
.Press-img{
    width: 100%;
    height: 180px;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
}
.Quote-icon img{
    width: 100%;
}
.Quote-icon{
    width: 32px;
    margin: auto;
}