.return_refund .order-box_content{
    width: 100%;
    max-width: calc(100% - 170px);
}
.return_refund .order-box_content p.bold{
    font-size: 16px;
    font-weight: 600;
    color: #191C1F;
    margin-bottom: 0;
}
.return_refund .order-box_content p.pricing{
    font-size: 18px;
    font-weight: 600;
    color: #191C1F;
    margin-bottom: 0;
}
.return_refund .order-box_content p b{
    color: #191C1F;
}
.Rerun_ref_btn .RETURN{
background-color: #DB3030;
font-size: 12px;
font-weight: 600;
color: #ffffff;
padding: 8px 8px;
letter-spacing: 1px;
width: 100px;
border: 1px solid #DB3030;
} 
.Rerun_ref_btn .Refund{
    background-color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    color: #727272;
    padding: 8px 8px;
    letter-spacing: 1px;
    width: 100px;
    border: 1px solid #727272; 
}
.order-title12 h2{
  font-size: 24px;
  font-weight: 600;
}
.order-title12 h2{
  font-size: 32px;
  font-weight: 600;
}

.order-box-one {
  border: 2px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  
}
.order-box-one .order-box-img{
    width: 100%;
    max-width: 170px;
}
.trackorder-img{
    width: 100%;
    max-width: 120px;
    height: 120px;
}
.trackorder-img img{
    width: 100%;
    height: 100%;
}
@media screen and (max-width:768px) {
    .order-box-one .order-box-img{
            max-width: 120px !important;
        }
      .order-box-one  .order-box_content p{
        margin-bottom: 2px;
        white-space: nowrap;
      }
        .order-box-one  .order-box_content p.bold{
        white-space:wrap;
      }
      .Rerun_ref_btn{
          padding: 8px;
        }
}

@media screen and (max-width:576px) {
    .order-box-one .order-box-img{
            max-width: 90px !important;
        }
        .order-box-one{
          flex-wrap: wrap;
        } 
        .Rerun_ref_btn{
          gap: 8px;
          display: flex;
          height: auto;
          padding: 8px;
        }
        .Rerun_ref_btn .RETURN {
          margin-bottom: 0 !important;
        }
      .order-box-one  .order-box_content p{
        margin-bottom: 2px;
        white-space: nowrap;
        font-size: 13px;
      }
        .order-box-one  .order-box_content p.bold{
        white-space:wrap;
        font-size: 15px;
         display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
      }
      .return_refund .order-box_content p.pricing {
          font-size: 15px;
      }
      .return_refund .order-box_content {
          max-width: calc(100% - 126px);
      }
      .breadcrum_box nav .breadcrumb .breadcrumb-item {
      font-size: 14px;
  }
       
}