.field-icon {
    float: right;
    margin-right: 16px;
    margin-top: 12px;
    position: relative;
    z-index: 2;
  }
  .login-sec .login-box {
    box-shadow: 0px 8px 40px 0px #0000001f;
    padding: 72px 93px;
  }
  .login-sec .login-box h2 {
    font-size: 28px;
    font-weight: 600;
    color: #101828;
  }
  .login-sec .login-box input {
    font-size: 14px;
    font-weight: 500;
    color: #344054;
    padding: 16px;
  }
  .login-sec .login-box button[type="submit"] {
    background-color: #DB3030;
    color: #fcfcfd;
    font-size: 18px;
    font-weight: 600;
  }
  .dont-accnt a {
    color: #DB3030;
    font-weight: 600;
  }


  .login-sec .login-box input[type=checkbox].log_check {
    padding: 10px;
    font-size: 18px;
}
.login-sec.bulk_order .login-box{
  padding: 32px 32px;
}

.modal-backdrop-custom {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-box-custom {
  background: #fff;
  padding: 25px;
  width: 400px;
  border-radius: 10px;
  text-align: center;
}