@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  scroll-behavior: smooth;
}

*{
  font-family: "Outfit", sans-serif;

}
a,button , p , li {
  font-family: "Roboto", sans-serif;
}

a {
  font-weight: 500;
  color: inherit  ;
  text-decoration: inherit;
}
a:hover {
  color: inherit;
}
@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 1600px;
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  cursor: pointer;
}
button:hover {
  border-color: #DB3030;
}
.goog-te-banner-frame {
  display: none !important;
}
.VIpgJd-ZVi9od-ORHb-OEVmcd{
  display: none !important;
  
}
.skiptranslate img{
  display: none !important;

}

.slick-prev:before, .slick-next:before {
  font-family: "fontawesome" !important;
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: #000000 !important; 
}
.slick-prev, .slick-next {  
  box-shadow: 0px 4px 26px 0px #0000001A;
  height: 40px !important;
  width: 100% !important;
  max-width: 40px;
  border-radius: 50%;
  background-color: #ffffff !important;
  z-index: 8;
}
/* .slick-prev:before {
  content: '←' !important;
}
.slick-next:before {
  content: '→' !important;
}  */

.slick-prev:before, .slick-next:before {
  font-family: "Font Awesome 5 Free" !important;
  font-weight: 900;
  content: "\f104"; /* Left arrow for prev */
}
.slick-next:before {
  content: "\f105"; /* Right arrow for next */
}

    
@media screen and (max-width:576px) {
  .slick-next {
    right: 2px !important;
  }
  .slick-prev {
    left: 2px !important;
  }
}
.breadcrum_box nav {
  background-color: #f2f4f5;
  padding: 26px 0;
}
.breadcrum_box nav .breadcrumb .breadcrumb-item {
  color: #5f6c72;
  font-weight: 500;
}
.breadcrum_box nav .breadcrumb .breadcrumb-item.active {
  color: #DB3030;
  font-weight: 600;
}
.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #ff9999;
    outline: 0;
    box-shadow: 0 0 0 .125rem #fd000040;
}

@media screen and (max-width:768px) {
  .Best_selling .feature-product-tile .title-box h2,
  .Super_saving .feature-product-tile .title-box h2,
  .CategoryBestSellers .feature-product-tile .title-box h2,
  .All_Products .product-section .feature-product-tile .title-box h2
   {
      font-size: 32px !important;
  }
  .All_Products .product-section .feature-product-tile .title-box span.asdkjkj{
    font-size: 14px;
  }
   .All_Products .product-section .feature-product-tile .title-box select{
    font-size: 13px;
  }
  .Shop_by_health h2 {
    font-size: 28px;
  }
  .fitkere span{
      font-size: 12px;
  }
      .home_hero .main-content-box .content-box h1 {
        font-size: 32px;
    }
    .home_hero .main-content-box .content-box p{
        font-size: 15px;
    }
    .home_hero .main-content-box .image-box {
        height: auto;
    }
    .gprscertified .gprscertified-box .gprscertified-icon {
        max-width: 46px;
    }
    .gprscertified .gprscertified-box .gprscertified-content h4{
    font-size: 14px;;
}
.Product_card .feature-card .product-detail .Pricing .slashPrice{
  font-size: 13px !important;
}

      
}
@media screen and (max-width:576px) {
  .Best_selling .feature-product-tile .title-box h2,
  .CategoryBestSellers .feature-product-tile .title-box h2,
  .Super_saving .feature-product-tile .title-box h2,
    .Hot_offers .Hot_offer-Content h2,
    .All_Products .product-section .feature-product-tile .title-box h2  {
      font-size: 24px !important;
  }
    .Shop_by_health h2 {
      font-size: 18px !important;
  }
      .home_hero .main-content-box .content-box h1 {
        font-size: 28px !important;
    }
    .Shop_by_health-card .card-img{
      height: auto !important;
    }
    .Shop_by_health-card .product-detail h3 a{
      font-size: 15px !important;
    }
    .Best_selling .feature-product-tile .title-box a{
      font-size: 13px !important;
    }
     .Best_selling .feature-card .product-detail .Pricing .price,
     .Product_card .feature-card .product-detail .Pricing .price {
      font-size: 15px !important;
  }
  .Best_selling .feature-card span.disco,
  .Product_card .feature-card span.disco {
    top: 8px !important;
    left: 8px !important;
    padding: 3px 7px !important;
    font-size: 9px !important;
}
  .Best_selling .feature-card span.wishicon,
  .Product_card .feature-card span.wishicon
   {
    top: 8px !important;
    right: 8px !important;
    padding: 3px 7px !important;
    font-size: 9px !important;
    width: 24px !important;
    height: 24px !important;
}
.Best_selling .feature-card,
.Product_card .feature-card {
    padding: 8px 8px 20px !important;
}
.Best_selling .cart-btn,.Product_card .cart-btn {
    padding: 4px 0 !important;
    font-size: 12px !important;
}

.CategoryBestSellers .feature-product-tile .title-box a {
    font-size: 14px !important;
}
.Product_card .feature-card .product-detail .Pricing{
  margin-bottom: 0px !important;
}
.Product_card .feature-card .card-img{
  height: 184px !important;
}
  .product-galler-slide .slick-slider .slick-list .slick-slide > div{
  padding: 4px 4px 0px !important;
}
.product-galler-slide .slick-prev,.product-galler-slide .slick-next{
    height: 20px !important;
    max-width: 20px;
}
.product-galler-slide .slick-prev:before,.product-galler-slide .slick-next:before{
  font-size: 10px;
}
.product-galler-slide .slider-for .slick-slide img{
  width: 100% !important;
  height: auto !important;
}
.product-detail-slider-content h5{
  font-size: 20px !important;
}
.purchase-btns button ,.purchase-btns a{
  font-size: 14px;
  white-space: nowrap;
}
.reviewer-sec .reviewer-main-box .tititle h3{
  font-size: 20px !important;
}
.reviewer-sec .reviewer-main-box .tititle h3 span{
  font-size: 24px !important;
}
.reviewer-sec .reviewer-main-box .tititle button{
  font-size: 14px !important;
}
.login-sec .login-box{
  padding: 24px 32px !important;
}
.custom-dropdown {
    left: 0 !important;
}
.reviewer-sec .reviewer-main-box .review-card .reviewr-img img, .reviewer-sec .reviewer-main-box .review-card .reviewr-img span {
    width: 50px !important;
    height: 50px !important;
    font-size: 20px !important;
}
.reviewer-sec .reviewer-main-box .review-card .reviewer-content h4 {
    font-size: 18px !important;  
}
.reviewer-sec .reviewer-main-box .review-card .reviewer-content span.rating-reviwe,
.reviewer-sec .reviewer-main-box .review-card .reviewer-content p{
    font-size: 14px !important;
}
.reviewer-content img{
  height: 80px !important;
  width: 80px !important;
}
.copyright div{
  flex-wrap: wrap !important;
  gap: 12px;
}
.copyright div .Payemt-img{
 order: -1;
}
.Product_card .feature-card h3 a{
      font-size: 15px;

}
}


@media screen and (max-width:1304px) {
  .Product_card .feature-card .card-img,.Best_selling .feature-card .card-img{
    height: 136px !important;
  }
  .Product_card .feature-card h3 a,.Best_selling .feature-card .product-detail h3 a {
    font-size: 15px !important;
    height: 37px !important;
  }
  .Product_card .feature-card .product-detail .Pricing .price,.Best_selling .feature-card .product-detail .Pricing .price {
      font-size: 18px !important;
  }
  .Product_card .feature-card .product-detail .Pricing .slashPrice, .Best_selling .feature-card .product-detail .Pricing .slashPrice {
      font-size: 14px;
  }
  .Product_card .feature-card .product-detail .rating svg,.Best_selling .feature-card .product-detail .rating svg {
      color: #FEB92D;
      font-size: 13px;
  }
  .Product_card .cart-btn,.Best_selling .cart-btn {
    padding: 4px 0 !important; 
    font-size: 13px !important;
}
.Product_card .feature-card , .Best_selling .feature-card{
    padding: 32px 8px 20px !important;
}
.home_hero .main-content-box .content-box h1
 {
    font-size: 44px !important;
}
   .Header .infobox ul li a {
    font-size: 12px !important;
}
.Header .menu-box ul li a {
    font-size: 12px !important;
}
.Header .menu-box {
    padding: 6px !important;
}
.searchbar-category-barr .input-group .input-group-text,.Header .searchbar-category-barr .input-group input {
  padding: 4px 16px !important;
      font-size: 12px;
}
.Header .searchbar-category-barr button {
    font-size: 12px !important;
    padding: 5px 16px !important  ;
}
.Header .logo-serach .brand-name {
    width: 100%;
    max-width: 94px !important;
}
.product-galler-slide .slider-for .slick-slide img {
    height: 300px !important;
}
.Pricing{
  font-size: 16px !important;
}
.discount {
    font-size: 11px;
}
.product-detail-slider-content button.btn.btn-outline-secondary {
    padding: 4px 8px;
    font-size: 12px;
}
.product-detail-slider-content h5
 {
    font-size: 20px !important;
}

}
@media screen and (min-width:991px) {
  .logo-cartbox{
    margin-left: 24px;
  }
}
@media screen 
  and (min-width: 991px) 
  and (max-width: 1280px)
  and (min-height: 425px)
  and (max-height: 551px) {

    .product-galler-slide .slider-for .slick-slide img {
        height: 230px !important;
    }
    .purchase-btns button{
      font-size: 14px;
      white-space: nowrap;
    }
}



.hovered_btn{
  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translateX(-50%);
}
.feature-card .card-img:hover .hovered_btn{
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);

}
.hovered_btn a{
  width: 100%;
  white-space: nowrap;
}